button.oo-close-button {
  @include close($spacer-close-btn, $spacer-close-btn);
  position:relative;
  float:right;
}

button.oo-close-btn {
  top: $panel-padding;
  right: $panel-padding;
  @include close($spacer-close-btn, $spacer-close-btn);
}

button.oo-up-next-close-btn {
  @include close(-10px, -10px);
  font-size: 12px;
  color: #fff;
  opacity: 1;
  right: 20px;
  top: 20px;

  span {
    font-weight: bold !important;
  }
}