.oo-share-panel {
  font-size: em(14px);
  .oo-tab-row {
    line-height: 1;

    .oo-tab {
      display: inline-block;
      color: #afafaf;
      font-weight: bold;
      padding-right: 25px;
      &:last-child {
        padding-left: 0;
      }
    }

    .oo-share-tab {
      @extend .oo-tab
    }

    .oo-embed-tab {
      @extend .oo-tab
    }

    .oo-active {
      color: $white;
    }
  }
}

.oo-share-tab-panel {
  @include absolute-center;
  color: $white;
  text-align: center;
  width: 90%;
  margin-top: 10px;

  a {
    color: inherit;
    &:hover {
      color: $white;
    }
  }

  .oo-social-action-text {
    font-family: $font-family-roboto-condensed;
    font-size: em(20px);
    font-weight: bold;
    margin-bottom: 15px;
  }

  .oo-social-icon {
    display: inline-block;
    height: 38px;
    width: 38px;
    margin-bottom: $panel-padding/2;
    margin-right: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
  }

  .oo-facebook {
    @extend .oo-social-icon;
    background-image: url("//player.ooyala.com/static/v4/stable/4.9.8/skin-plugin/assets/images/social-facebook.svg");
  }

  .oo-twitter {
    @extend .oo-social-icon;
    background-image: url("//player.ooyala.com/static/v4/stable/4.9.8/skin-plugin/assets/images/social-twitter.svg");
  }

  .oo-google-plus {
    @extend .oo-social-icon;
    background-image: url("//player.ooyala.com/static/v4/stable/4.9.8/skin-plugin/assets/images/social-google.svg");
  }

  .oo-email-share {
    @extend .oo-social-icon;
    background-image: url("//player.ooyala.com/static/v4/stable/4.9.8/skin-plugin/assets/images/social-email.svg");
    background-size: cover;
  }

  .oo-embed-form {
    resize: none;
    height: calc(15vh);
  }
}

.oo-share-tab-panel.pgatour {
  max-width: 560px;
  text-align: left;
  font-family: "UniversLTStd",sans-serif;
  font-size: 16px;
  margin-top: 0;

  .oo-pgatour-twitter, .oo-pgatour-facebook {
    background: url('/build/assets/images/icon-twitter.png') no-repeat 0 0;
    background-size: 74px 28px;
    height: 28px;
    width: 74px;
    display: inline-block;
    text-decoration: none;
    margin: 15px 15px 25px 0;
  }

  .oo-pgatour-facebook {
    background: url('/build/assets/images/icon-facebook.png') no-repeat 0 0;
    background-size: 74px 28px;
  }

  .oo-share-url-line {
    width: 100%;
    position: relative;
  }

  .oo-social-action-text {
    text-align: center;
    margin-bottom: 0;
  }

  .oo-share-input-time {
    font-size: 14px;
    color: #000;
    width: 47px;
    height: 20px;
  }

  .oo-share-link-input {
    font-size: 14px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    color: #000;
    background: #ccc;
    border: 0;
  }

  .oo-share-link-copy {
    position: absolute;
    right: 0;
    top: 0;
    width: 85px;
    height: 38px;
    background: #fff;
    color: #000;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 1px;
    cursor: pointer;
    border-radius: 0;
    -webkit-appearance: none;
  }

  .oo-share-input-time {
    background: #ccc;
    border: 0;
    outline: 0;
    padding: 0 5px;
    margin: 0 8px;
  }

  .oo-start-at-line > span {
    margin: 0 15px 0 0;
  }
}